
task1/bin/

task1/dugma\.t

task1/part1

task1/src/\.part1\.l\.kate-swp

task1/src/\.part1\.y\.kate-swp

task2/bin/

task2/dugma\.t

task2/part2

task2/src/\.part2\.y\.kate-swp

*.kate-swp

task2/code\.t

task2/dugma\.txt
